* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header {
    width: fit-content;
    margin: 10px auto;
}

.headerText {
    font-weight: bold;    
}
